{% extends base_template %}
{% load comments_plus_tags tapped_tags %}
{% load wiki_tags i18n tapped_tags markup %}
{% block body %}
<div class="span12">
    {% include "_form_errors.html" %}
    <h1>{% trans "Question preview" %}</h1>
    <div class="hero-unit">
        {% if question %}
            <h1>{% wikify question.title %}</h1>
            <h4>Asked by {{ question.comment.user }} {{ question.comment.submit_date|timesince }} ago</h4>
            <h3> {% display_username user.id %}</h3>
        {% endif %}
        {% if comment %}{% wikify comment %}{% endif %}

    </div>
    <form action="./" method="post">{% csrf_token %}
        {% for field in form %}
            {% if field.is_hidden %}
                {{ field }}
            {% else %}
                {% if field.errors %} {{ field.errors }} {% endif %}
                <p{% if field.errors %} class="error"{% endif %}{% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
                    {{ field }}
                </p>
            {% endif %}
        {% endfor %}
        {% if preview_called %}
            <input type="submit" name="submit" class="btn " value="{% trans "Post" %}" />
        {% endif %}
        <input type="submit" name="preview" class="btn" value="{% trans "Preview" %}" />
    </form>
</div>
{% endblock %}