{% extends "base.html" %}
{% load wiki_tags comments_plus_tags stack_tags %}
{% block body %}
<div class="span-22 prepend-1">
	<h2 class="snug">{% wikify instance.title %}{% if perms.stack.change_question %}<sup><a href="{% url admin:stack_question_change instance.pk %}">Edit</a></sup>{% endif %}</h2>
	<h4>Asked by {{ instance.comment.user }}{{ instance.comment.submit_date|timesince }} ago</h4>
	{% wikify instance.comment.comment %}
</div>
{% endblock %}
{% block bottom_stage %}
{% render_answer_stage for instance %}
{% endblock %}
